@media (max-width: 576px) {
  .first-block {

  }
  .header {
    flex-direction: row;
    height: 120px;
    justify-content: space-between;
  }
  .header-menu-logo {
    position: relative;
  }
  .justify-content-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .f-left-block {
    width: 50vw;
    display: none;
  }
  .first-content {
    display: none;
  }



  .fourth-block .row {
    flex-direction: column;
  }

  .item-pressent .col {
    margin: 50px 0 0 0;
  }

  .f-two-wrapper {
    margin: 50px 0 0 0;
  }



  .sixth-block .col-md-12 {
    justify-content: center;
  }


  .nineth-block .h2 {
    margin-top: 70px;
    font-size: 25px;
  }
  .nineth-block .h1 {
    font-size: 30px;
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .first-block {
    height: 100vh;
  }
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header-menu-logo {
    position: relative;
  }
  .first-content {
    display: flex;
  }

  .header .btn {
    display: none;
  }



  .fourth-block .row {
    flex-direction: column;
  }

  .item-pressent .col {
    margin: 50px 0 0 0;
  }

  .f-two-wrapper {
    margin: 50px 0 0 0;
  }


  .nineth-block .h2 {
    margin-top: 70px;
    font-size: 25px;
  }

  .nineth-block .h1 {
    font-size: 30px;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .first-block {
    height: 100vh;
  }
  .header {
    height: 80px;
    flex-direction: column;
    justify-content: center;
  }
  .header-menu-logo {
    position: relative;
  }
  .f-left-block {
    width: 50vw;
  }
  .first-content {
    height: calc(100vh - 80px);
    display: flex;
  }


  .fourth-block .row {
    flex-direction: column;
  }

  .item-pressent .col {
    margin: 50px 0 0 0;
  }

  .f-two-wrapper {
    margin: 50px 0 0 0;
  }



  .nineth-block .h2 {
    margin-top: 80px;
    font-size: 20px;
  }

  .nineth-block .h1 {
    font-size: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .first-block {
    height: 100vh;
  }
  .header {
    height: 80px;
    flex-direction: row;
    justify-content: center;
  }
  .header-menu-logo {
    position: absolute;
  }
  .f-left-block {
    width: 50vw;
  }
  .first-content {
    height: calc(100vh - 80px);
    display: flex;
  }


  .nineth-block .h2 {
    margin-top: 80px;
    font-size: 40px;
  }

  .nineth-block .h1 {
    font-size: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 80px;
    flex-direction: row;
    justify-content: center;
  }
  .header-menu-logo {
    position: absolute;
  }
  .f-left-block {
    width: 50vw;
  }
  .first-content {
    height: calc(100vh - 80px);
    display: flex;
  }


  .fourth-block .row {
    flex-direction: row;
  }



  .nineth-block .h2 {
    margin-top: 80px;
    font-size: 40px;
  }

  .nineth-block .h1 {
    font-size: 30px;
    margin-top: 30px;
  }
}