/*Preloader starts*/
.preloader {
	align-items: center;
	background-color: #fff;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.cssload-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cssload-container:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: -1;
	transition: top 1.38s linear 3.57s;
		-o-transition: top 1.38s linear 3.57s;
		-ms-transition: top 1.38s linear 3.57s;
		-webkit-transition: top 1.38s linear 3.57s;
		-moz-transition: top 1.38s linear 3.57s;
}
.cssload-container:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: -1;
	transition: bottom 1.38s linear 3.57s;
		-o-transition: bottom 1.38s linear 3.57s;
		-ms-transition: bottom 1.38s linear 3.57s;
		-webkit-transition: bottom 1.38s linear 3.57s;
		-moz-transition: bottom 1.38s linear 3.57s;
}
.cssload-container.done:before {
	top: -50%;
}
.cssload-container.done:after {
	bottom: -50%;
}

.cssload-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
	transform-origin: center;
		-o-transform-origin: center;
		-ms-transform-origin: center;
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
}
.cssload-progress .cssload-progress-item {
	text-align: center;
	width: 97px;
	height: 97px;
	line-height: 97px;
	border: 2px solid rgb(0,0,0);
	border-radius: 50%;
}
.cssload-progress .cssload-progress-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: -3px;
	margin-left: 0px;
	width: 44px;
	height: 44px;
	border-top: solid 10px rgb(0,0,0);
	border-right: solid 10px rgb(0,0,0);
	border-top-right-radius: 100%;
	transform-origin: left bottom;
		-o-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		-webkit-transform-origin: left bottom;
		-moz-transform-origin: left bottom;
	animation: spin 3.45s linear infinite;
		-o-animation: spin 3.45s linear infinite;
		-ms-animation: spin 3.45s linear infinite;
		-webkit-animation: spin 3.45s linear infinite;
		-moz-animation: spin 3.45s linear infinite;
}
.cssload-progress.cssload-float .cssload-progress-item:before {
	border-top-width: 2px;
	margin-top: 0px;
	height: 49px;
}
.cssload-progress.cssload-float.cssload-shadow:before {
	border-top-width: 2px;
	margin-top: -40px;
	height: 49px;
}
.cssload-progress.cssload-shadow:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -42px 0 0 12px;
	width: 44px;
	height: 44px;
	border-top: solid 10px rgb(221,221,221);
	border-right: solid 10px rgb(221,221,221);
	border-top-right-radius: 100%;
	z-index: -1;
	transform-origin: left bottom;
		-o-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		-webkit-transform-origin: left bottom;
		-moz-transform-origin: left bottom;
	animation: spin 3.45s linear infinite;
		-o-animation: spin 3.45s linear infinite;
		-ms-animation: spin 3.45s linear infinite;
		-webkit-animation: spin 3.45s linear infinite;
		-moz-animation: spin 3.45s linear infinite;
}
.cssload-progress.cssload-shadow:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 97px;
	height: 97px;
	color: rgb(221,221,221);
	text-align: center;
	line-height: 97px;
	border: 2px solid rgb(221,221,221);
	margin: -39px 0 0 -39px;
	z-index: -1;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	transform-origin: center;
		-o-transform-origin: center;
		-ms-transform-origin: center;
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
}


@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

/*Preloader ended*/ 

/*First Block*/
.header {
	display: flex;
	
	align-items: center;

	width: 100%;

	z-index: 10;

	/*Gradient*/
	background: rgba(73,71,77,1);
	background: -moz-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,71,77,1)), color-stop(49%, rgba(125,124,129,1)), color-stop(100%, rgba(73,71,77,1)));
	background: -webkit-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: -o-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: linear-gradient(to right, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49474d', endColorstr='#49474d', GradientType=1 );
}

/*Mobile menu starts*/
.header .btn {
	margin-right: 30px;
	justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 25px;
    width: 50px;
}
/*Mobile menu ends*/



.header-menu-logo p {
	font-family: Lobster;
	font-size: 40px;
}

.header ul {
	padding: 0;
}

.header ul li {
	display: inline-block;
}

.header .nav li a {
	font-family: Cabin;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.header .nav li a:hover {
	transform: scale(1.2);
	color: #fff;
}

.first-content {
	
	
	flex-direction: row;
}

.f-left-block {
	width: 50vw;
	background-color: rgba(0, 0, 0,0.6);
}

.f-right-block {
	width: 50vw;
	background-color: rgba(0, 0, 0,0.4);
}

.first-content .parallax-window {
	min-height: calc(100vh - 80px);
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.f-left-block .f-circle-content {
	background-color: rgba(54, 167, 231, 0.4);
	transition: background 0.25s ease;
}

.f-left-block .f-circle-content:hover {
	background-color: rgba(54, 167, 231, 0.8);
	transition: background 0.25s ease;
}

.f-right-block .f-circle-content {
	background-color: rgba(249, 50, 50, 0.4);
	transition: background 0.25s ease;
}

.f-right-block .f-circle-content:hover {
	background-color: rgba(249, 50, 50, 0.8);
	transition: background 0.25s ease;
}

.f-circle-content {
	height: 200px;
	width: 200px;

	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0,0.5);

}

.first-content .h1 {
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 67px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	mix-blend-mode: normal;
}




/*Second Block*/

.second-block {
	margin: 75px 0 0 0;
}

.second-title {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.second-title-two {
	margin-top: 80px;
	font-family: Bad Script;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	color: #000000;

}

.second-title-three {
	margin-top: 80px;
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	color: #000000;
}

.rectangles {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;

}

.rectangles .col-md-12 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.rectangle {
    height: 190px;
    width: 190px;
    border-radius: 20px;
    background: rgba(255, 173, 173, 0.81);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 40px;
    transition: 0.5s ease;
}

.rectangle:hover {
    width: 200px;
    height: 200px;
    transition: 0.5s ease;
}


.rectangle p {
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #000000;


	display: flex;
	transform: rotate(-45deg);
}

.second-button {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.second-button .btn {
	margin-top: 80px;
	font-family: Russo One;
	font-style: normal;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	height: 50px;
	width: 260px;

	background: rgba(255,173,173, 0.6);
	border: none;
}

.second-button a {
	text-decoration: none;
	color: #000000;
}

.second-button .btn:hover {
	background: rgba(255,173,173,1);
}

/*Third block*/
.third-block {
	margin-top: 70px;
}

.third-block .parallax-window{
	width: 100%;
	height: 400px;
	background: transparent;
}

.fourth-block {
	margin-top: 80px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.fourth-block .row {
	align-items: flex-end;
}

.f-one-wrapper {
	display: flex;
	flex-direction: column;
}

.f-h1 {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: rgba(255,173,173,1);
}

.f-h2 {
	margin-top: 30px;
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 44px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #000000;
}

.f-p {
	margin-top: 50px;
}

.f-p, .f-h2-2 {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	justify-content: center;

	color: #000000;
}

.f-h2-2 {
	margin-top: 20px;
}

.item-pressent {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.item-pressent .pres {
    margin-top: 35px;
}

.item-pressent .pres:hover {
    font-size: 23px;
}

.four-line {
    border: 1px solid black;
}

.f-two-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f-two-wrapper img {
	display: flex;
	align-self: flex-start;
	max-width: 440px;
	max-height: 451px;
}

.fourth-block .one-block p,
.fourth-block .two-block p,
.fourth-block .three-block p {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 26px;
	text-align: center;

	color: #000000;

}

/*Fifth block*/
.fifth-block {
	margin-top: 70px;
}

.fifth-block .parallax-window{
	width: 100%;
	height: 400px;
	background: transparent;
}

/*Sixth block*/
.sixth-block {
	margin-top: 80px;
}
.sixth-block .container {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}
.sixth-block .row {
	display: flex;
	margin: 0 auto;
}

.sixth-block .s-h2 {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	line-height: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: rgba(255,173,173,1);
}

.sixth-block .s-h1 {
	margin-top: 40px;
	font-family: Rubik Mono One;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 45px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #000000;

}

.six-block-circles {
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
}

.sixth-block .col-md-12 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.six-block-circle {
	margin: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: rgba(255,173,173,1);
}

.six-block-circle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.six-block-circle {
	font-size: 60px;
}

.s-1-block, .s-2-block,
.s-3-block, .s-4-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.s-1-block .h3, .s-2-block .h3,
.s-3-block .h3, .s-4-block .h3 {
	font-family: Linden Hill;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 34px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.s-1-block p, .s-2-block p,
.s-3-block p, .s-4-block p {
	font-family: Linden Hill;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #888888;
}

.sixth-button {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.sixth-button .btn {
	margin-top: 80px;
	font-family: Russo One;
	font-style: normal;
	font-size: 21px;
	line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    width: 260px;

    color: #000000;
    background: rgba(255, 173, 173, 0.5);
    border: none;
}

.sixth-button a {
    text-decoration: none;
    color: #000000;
}

.sixth-button .btn:hover {
    background: rgba(255, 173, 173, 1);
}

/*Seventh block*/
.seventh-block {
    margin-top: 50px;
    width: 100%;
}

.seventh-block .parallax-window{
	width: 100%;
	height: 400px;
	background: transparent;
}

/*Eighth block*/
.eighth-block {
	width: 100%;
	height: 100px;
	background-color: rgba(255,173,173,0.6);
	display: flex;
	align-items: center;
}

.eighth-block .col-md-12 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.eighth-block .h2 {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 34px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.eighth-block  .btn{
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 25px;
	text-align: center;

	color: #FFFFFF;
}



/*MODAL*/
.modal-content {
	background-color: lightpink;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;
}

.form-control {
	font-family: Oswald;
}

label {
	font-family: Oswald;
}

.modal-footer {
	justify-content: center;
}



/*Nineth block*/
.nineth-block {
	width: 100%;
}

.nineth-block .parallax-window {
	height: 400px;
	background: transparent;
}

.nineth-block .col-md-12 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nineth-block .h2 {
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	line-height: 50px;
	text-align: center;

	color: #FFFFFF;
}

.nineth-block .h1 {
	
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.nineth-block p {
	margin-top: 30px;
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #817E7E;
}

.nineth-block .btn {
	margin-top: 30px;

}

.nineth-block .btn a {
	font-family: Linden Hill;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 23px;
	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #FFFFFF;
}

.white-line {
	height: 20px;
	background-color: rgba(255,173,173, 0.81);
}
