@media (max-width: 320px) {
  .first-block {
  }

  .header {
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
  }

  .header-menu-logo {
    position: relative;
    margin: 10px 0 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .justify-content-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .f-rectangle {
    height: 100vh;
  }

  .first-content {

  }

  .first-content .h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .first-content .h3 {
    font-size: 19px;
    line-height: 19px;
  }

  .promos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .promo {
    margin-top: 5px;
  }

  .promo p {
    font-size: 15px;
    line-height: 15px;
  }


  /*Items content*/
  .item-1 {

  }

  .before-items {
    width: 100%;
  }

  .row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 75px 77px 50px 77px;
  }
}

@media (min-width: 321px) {
  .first-block {
  }

  .header {
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
  }

  .header-menu-logo {
    position: relative;
    margin: 10px 0 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .justify-content-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .f-rectangle {
    height: 100vh;
  }

  
  .first-content .h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .first-content .h3 {
    font-size: 19px;
    line-height: 19px;
  }

  .promos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .promo {
    max-width: 200px;
    max-height: 200px;
    margin-top: 7px;
    width: 180px;
    height: 180px;
  }

  .promo p {
    font-size: 18px;
    line-height: 24px;
  }

  /*Items content*/
  .before-items {
    width: 100%;
    padding: 0;
  }

  .item {
    max-width: 48%;
    height: 290px;
    width: 192px;
  }

  .promotion {
    margin: 22px;
    width: 55px;
    height: 55px;
  }

  .promotion p {
    font-size: 24px;
  }

  .item-img {
    width: 150px;
    height: 150px;
  }

  .item-name {
    font-size: 18px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
  }

  .item-text {
    justify-content: space-around;
    margin: 0 20px;
  }

  .item-text p {
    line-height: 0;
    display: flex;
  }

  .price-original {
    font-size: 13px;
  }

  .discount-price {
    font-size: 15px;
  }

  .item button {
    line-height: 0;
    margin: 0;
    height: 30px;
    width: 85px;
  }

  .row-1, .row-2, .row-3,
  .row-4, .row-5, .row-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
  }

  /*Items responsive design ended*/
}

@media (min-width: 576px) {
  .first-block {
    height: 100vh;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-menu-logo {
    position: relative;
    margin: 10px 0 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-content {
    display: flex;
  }

  .header .nav {
    display: none;
  }

  .first-content .h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .first-content .h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .f-rectangle {
    height: 100vh;
  }

  .first-content .h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .first-content .h3 {
    font-size: 19px;
    line-height: 19px;
  }

  .promos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .promo {
    width: 220px;
    height: 220px;
    margin-top: 15px;
  }

  .promo p {
    font-size: 25px;
    line-height: 35px;
  }

  /*Items content*/
  .before-items {
    width: 100%;
    padding: 0;
  }

  .item {
    max-width: 48%;
    height: 290px;
    width: 192px;
  }

  .promotion {
    margin: 22px;
    width: 55px;
    height: 55px;
  }

  .promotion p {
    font-size: 24px;
  }

  .item-img {
    width: 150px;
    height: 150px;
  }

  .item-name {
    font-size: 18px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
  }

  .item-text {
    justify-content: space-around;
    margin: 0 20px;
  }

  .item-text p {
    line-height: 0;
    display: flex;
  }

  .price-original {
    font-size: 13px;
  }

  .discount-price {
    font-size: 15px;
  }

  .item button {
    line-height: 0;
    margin: 0;
    height: 30px;
    width: 85px;
  }

  .row-1, .row-2, .row-3,
  .row-4, .row-5, .row-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
  }

  /*Items responsive design ended*/
}

@media (min-width: 768px) {
  .first-block {
    height: 100vh;
  }

  .header {
    height: 80px;
    flex-direction: row;
    justify-content: center;
  }

  .header-menu-logo {
    position: relative;
  }

  .first-content {
    height: calc(100vh - 80px);
    display: flex;
  }

  .header .nav li a {
    padding: 0 10px;
    font-size: 15px;
  }

  .header .nav {
    display: block;
  }

  #menu-button {
    display: none;
  }

  .header-menu-logo {
    left: 0;
    margin-left: 30px;
  }

  .first-content .h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .first-content .h3 {
    font-size: 21px;
    line-height: 19px;
  }

  .f-rectangle {
    height: 500px;
  }

  .promos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .promo {
    width: 240px;
    height: 240px;
  }

  .promo p {
    font-size: 28px;
    line-height: 34px;
  }

  /*Items content*/
  .before-items {
    width: 100%;
    padding: 0;
  }

  .item {
    max-width: 48%;
    height: 290px;
    width: 192px;
  }

  .promotion {
    margin: 22px;
    width: 55px;
    height: 55px;
  }

  .promotion p {
    font-size: 24px;
  }

  .item-img {
    width: 150px;
    height: 150px;
  }

  .item-name {
    font-size: 18px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
  }

  .item-text {
    justify-content: space-around;
    margin: 0 20px;
  }

  .item-text p {
    line-height: 0;
    display: flex;
  }

  .price-original {
    font-size: 13px;
  }

  .discount-price {
    font-size: 15px;
  }

  .item button {
    line-height: 0;
    margin: 0;
    height: 30px;
    width: 85px;
  }

  .row-1, .row-2, .row-3,
  .row-4, .row-5, .row-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
  }

  /*Items responsive design ended*/
}

@media (min-width: 992px) {
  .first-block {
    height: calc(100vh - 100px);
  }

  .header {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-menu-logo {
    left: 0;
    margin-left: 30px;
  }

  .header .nav li a {
    padding: 0 30px;
    font-size: 17px;
  }

  .first-content .h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .first-content .h3 {
    font-size: 27px;
    line-height: 30px;
  }

  .f-rectangle {
    height: 500px;
  }

  .promos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .promo {
    margin: 0 10px;
    width: 310px;
    height: 310px;
  }

  .promo p {
    font-size: 30px;
    line-height: 44px;
  }

  /*Second block*/
  .items {
    display: flex;
    flex-direction: column;
  }

  .row-2, .row-3, .row-4, .row-5, .row-6 {
    margin-top: 50px;
  }


  .row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
    display: flex;
    flex-direction: row;
  }

  /*Items content*/
  .item {

  }

  .before-items {
    width: 100%;
  }

  .row-1 {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 90px;
    flex-direction: row;
    justify-content: center;
  }

  .header-menu-logo {
    position: absolute;
    margin: 0 100px;

  }

  .first-content {
    display: flex;
  }

  .header .nav li a {
    padding: 0 40px;
    font-size: 17px;
  }

  .first-content .h1 {
    font-size: 45px;
    line-height: 56px;
  }

  .first-content .h3 {
    font-size: 30px;
    line-height: 36px;
  }

  .f-rectangle {
    height: 500px;
  }

  .promos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .promo {
    margin: 0 55px;
    width: 310px;
    height: 310px;
  }

  .promo p {
    font-size: 30px;
    line-height: 44px;
  }

  /*Second block*/
  .items {
    display: flex;
    flex-direction: column;
  }

  .row-1 {
    margin-top: 85px;
    margin-bottom: 50px;
  }

  .row-2, .row-3, .row-4,.row-5, .row-6 {
    margin-top: 50px;
  }

  .row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
    display: flex;
    flex-direction: row;
  }

  .item-1{
    margin: 0;
  }

  .item-2{
    margin-left: 40px;
    margin-right: 20px;
  }

  .item-3{
    margin-left: 20px;
    margin-right: 40px;
  }

  .item-4{
    margin: 0;
  }

  /*Items content*/
  .before-items {
    width: 80%;
    padding: 0 30px 30px 30px;
  }

  .row-1 {
    display: flex;
    flex-wrap: nowrap;
  }

}