/*header*/
.header {
	display: flex;
	
	align-items: center;

	width: 100%;

	z-index: 10;

	/*Gradient*/
	background: rgba(73,71,77,1);
	background: -moz-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,71,77,1)), color-stop(49%, rgba(125,124,129,1)), color-stop(100%, rgba(73,71,77,1)));
	background: -webkit-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: -o-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	background: linear-gradient(to right, rgba(73,71,77,1) 0%, rgba(125,124,129,1) 49%, rgba(73,71,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49474d', endColorstr='#49474d', GradientType=1 );
}

/*Mobile menu starts*/
.header .btn {
	margin-right: 30px;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 50px;
	font-size: 25px;
	width: 50px;
}
/*Mobile menu ends*/



.header-menu-logo p {
	font-family: Lobster;
	font-size: 40px;
}

.header ul {
	padding: 0;
}

.header ul li {
	display: inline-block;
}

.header .nav li a {
	font-family: Cabin;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.header .nav li a:hover {
	transform: scale(1.2);
	color: #F57913;
}

/*Promos*/
.first-content {
	width: 100%;
	height: 500px;
	margin: 80px 0 80px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;



	background-color: #FFD1D1;
}

.first-content .col-md-12 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.first-content .h1 {
	font-family: Lobster;
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 56px;

	color: #000;
}

.first-content .h3 {
	margin-top: 10px;
	margin-bottom: 15px;

	font-family: Cabin;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #000000;


}

.promos {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.promo {
	width: 310px;
	height: 310px;

	margin: 0 85px;

	border-radius: 160px;

	background-color: rgba(255, 171, 171, 0.9);
	box-shadow: 0px 4px 4px #FF0000;

	display: flex;
	align-items: center;
	justify-content: center;
}

.promo p {
	font-family: Oswald;
	font-style: normal;
	font-weight: 200;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

/*Second block*/
.second-block {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.second-block {
	font-family: Cabin;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.item {
	width: 280px;
	height: 470px;
	position: relative;
	border-radius: 7px;
	transition: box-shadow 0.8s ease;
	/*background-color: #000000;*/
}

.item:hover {
	-webkit-box-shadow: 0px 0px 29px 25px rgba(255,173,173,0.81);
	-moz-box-shadow: 0px 0px 29px 25px rgba(255,173,173,0.81);
	box-shadow: 0px 0px 29px 25px rgba(255,173,173,0.81);
	transition: 0.35s all;
}

.promotion {
	margin: 22px;
	width: 75px;
	height: 75px;
	background: #FF6479;
	color: #fff;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;

	transition: background-color 0.8s ease;
	border-radius: 50px;
}

.item:hover .promotion {
	background-color: #3CFFE8;
	transition: 0.8s ease;
}

.promotion p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 33px;

	color: #FFFFFF;
}

.item-image {
	margin-top: 25px;
}

.item-name {
	font-size: 25px;
	font-family: Roboto;
	color: black
}

.item-text {
	display: flex;
	justify-content: space-between;
	margin: 15px 20px 0 20px;
	text-transform: lowercase;
}

.price-original {
	text-decoration: line-through;
	font-size: 15px;
	color: grey;
}

.discount-price {
	color: #FF8992;
	font-size: 20px;
}

.item-text p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
}



.item button {
	border: none;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	text-transform: uppercase;
	margin-top: 40px;

	height: 45px;
	width: 245px;

	color: #000000;
	background-color: #3CFFE8;
} 

.btn-light:hover {
	background-color: #16E4FF;
	border-color: none;
}

/*Third block*/
.pages-nums {
	margin: 30px 0;
}

.nums {
	margin: 0 auto;
}

.nums > ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nums > ul > li {
	margin: 0 10px;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid grey;
	border-radius: 20px;
	transition: border 0.25s ease;
}

.nums > ul > li:hover {
	border: 4px solid #FFD1D1;
	transition: border 0.25s  ease;
}

.nums ul .num-1 {
	border: 4px solid #FFD1D1;	
}

.nums ul a {
	font-size: 20px;
	color: black;
	text-decoration: none;
	transition: color 0.25s ease;
}

.nums > ul > li:hover a {
	color: #FFD1D1;
	transition: color 0.25s  ease;
}